<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tramon Flask Python calc</title>
</head>
<body>
<h1>Tramon Flask Python calc</h1>
<h2>Calc</h2>
<form action="/sum" method="POST">
    <label>
        Sum of two:
        <br>
        <input type="number" name="add_one" placeholder="first number"/>
        <br>
        <input type="number" name="add_two" placeholder="second number"/>
        <br>
    </label>
    <button type="submit">Sum</button>
</form>
<br>
<h3>{{sum_of_two}}</h3>
<br>
<form action="/divide" method="POST">
    <label>
        A Tricky divide that actually does multiplication:
        <br>
        <input type="number" name="divide_one" placeholder="first number"/>
        <br>
        <input type="number" name="divide_two" placeholder="second number"/>
        <br>
    </label>
    <button type="submit">Divide</button>
</form>
<br>
<h3>{{divide_result}}</h3>
<br><br>
<a href="{{ url_for('home') }}">Todo list</a>
<br>
<br>
<a href="{{ url_for('get_calendar') }}">Calendar</a>
<br>

</body>
</html>