<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tramon Flask Python App for a Cloud Computing course</title>
</head>
<body>
<h1>Tramon Flask Python App for a Cloud Computing course</h1>
{% if objects %}
<table>
    <tr>
        <th>"id"</th>
        <th>"task"</th>
    </tr>
    <tbody>
    {% for object in objects %}
    <tr>
        {% for id, task in object.dataset() %}
        <td>{{id}}</td>
        <td>{{task}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
<form action="/add" method="POST">
    <label>
        <input type="text" name="add" placeholder="add task"/>
    </label>
    <button type="submit">Submit</button>
</form>
<br>
<form action="/delete" method="DELETE">
    <label>
        <input type="text" name="delete" placeholder="delete task by id"/>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>